@import "tailwindcss";

:root[data-theme="morning"] {
  --background: #b3d9ff;
  --foreground: #002147;
}

:root[data-theme="afternoon"] {
  --background: #fff5e1;
  --foreground: #4b2e00;
}

:root[data-theme="evening"] {
  --background: #ffb266;
  --foreground: #2f2f2f;
}

:root[data-theme="night"] {
  --background: #1a1a1a;
  --foreground: #e0e0e0;
}

:root[data-theme="latenight"] {
  --background: #121212;
  --foreground: #b0b0b0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bubblegum-sans);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
}

@layer utilities {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .animate-scroll {
    animation: scroll var(--animation-duration, 40s) linear infinite
      var(--animation-direction, forwards);
    will-change: transform;
  }
}

@layer base {
  html {
    scroll-padding-top: theme("spacing.20");
  }
}
